.canva_wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow: hidden;
}

.pages_wrapper {
    margin-left: 220px;
    width: calc(100% - 220px);
    height: 100vh;
    overflow-y: auto; 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease, width 0.3s ease;
}
/* Ajustement de la page principale selon l'état de la sidebar */
.leftbar_wrapper.collapsed + .pages_wrapper {
    margin-left: 60px;
    width: calc(100% - 60px);
}