.course-page-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 46px 40px;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.course-page-header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    align-self: stretch;
    border-radius: 16px;
    border: 1px solid #E2E8F0;
    background: #F8FAFC;
    box-shadow: 0px 2px 4px -1px rgba(2, 6, 23, 0.05), 0px 0px 0px 2px #FFF inset;
    width: 100%;
}

.course-page-header-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    align-self: stretch;
}

.course-page-header-top-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.course-page-header-title {
    color: var(--black);
    font-family: var(--inter);
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    /* 120% */
}

.course-page-header-subtitle {
    color: var(--black);
    font-family: var(--inter);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px;
    /* 120% */
}

.course-page-header-top-labels {
    display: flex;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.course-page-header-top-labels-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.course-page-header-top-labels-name {
    color: var(--grey);
    font-family: var(--inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 150% */
}

.course-page-header-top-labels-content {
    display: flex;
    height: 28.8px;
    padding: 0.8px 12px;
    justify-content: center;
    align-items: center;
    gap: 4.8px;
    border-radius: 8px;
    border: 0.8px solid #E2E8F0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.60) 100%), #FFF;
    box-shadow: 0px 0px 0px 1.6px #F8FAFC inset, 0px 1.6px 3.2px -0.8px rgba(2, 6, 23, 0.05);
    color: var(--black);
    font-family: var(--inter);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* 150% */
}

.course-page-header-top-labels-content-img {
    width: 25px;
    height: auto;
}

.course-page-header-top-button-box {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.course-page-header-top-button {
    display: inline-flex;
    padding: 9px 21px;
    align-items: flex-start;
    border-radius: 7px;
    border: 1px solid var(--blue, #0008CF);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 100%), var(--blue, #0008CF);
    box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.20) inset, 0px 2px 4px -1px rgba(2, 6, 23, 0.05);
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.course-page-header-bottom {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
}

.course-page-header-dropdown {
    display: flex;
    flex-direction: column;
    padding: 20px 24px;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 12px;
    border: 1px solid #E2E8F0;
    background: #FFF;
    width: 100%;
    cursor: pointer;
}

.course-page-header-dropdown-main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-page-header-dropdown-title {
    color: var(--black);
    font-family: var(--inter);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.course-page-header-dropdown-text {
    color: var(--grey);
    font-family: var(--inter);
    font-size: 14px;
    font-weight: 300;
    line-height: 28.8px;
    display: none;
    margin-top: 15px;
}

.course-page-header-dropdown-text.show {
    display: block;
}

.dropdown-icon {
    transition: transform 0.3s ease;
}

.dropdown-icon.open {
    transform: rotate(180deg);
}

/*=========Syllabus=========*/
.course-syllabus {
    max-width: 950px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.course-syllabus-title-box {
    margin-bottom: 20px;
}

.course-syllabus-title {
    color: var(--black);
    font-family: var(--inter);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    /* 140% */
}

.course-syllabus-subtitle {
    color: var(--grey);
    font-family: var(--inter);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

.course-syllabus-wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #E2E8F0;
}

.course-syllabus-wrapper-top {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 8px 12px;
    border-bottom: 1px solid #E2E8F0;
    background: #F1F5F9;
}

.course-syllabus-wrapper-label {
    color: #475569;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    /* 150% */
}

.course-syllabus-wrapper-label-column-1 {
    width: 70%;
}

.course-syllabus-wrapper-label-column-2 {
    width: 20%;
}

.course-syllabus-list {
    list-style: none;
    padding: 0;
    overflow: hidden;
}

.course-syllabus-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
    background: #fff;
    transition: background 0.3s ease;
}

.course-syllabus-list li:last-child {
    border-bottom: none;
}

.course-syllabus-list li:hover {
    background: #f9f9f9;
}

.course-syllabus-list a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.course-syllabus-list a:hover {
    color: #007bff;
}

.syllabus-status {
    display: flex;
    align-items: center;
    font-weight: bold;
    width: 20%;
}
.syllabus-status-box {
    border-radius: 100px;
    background: #FFF;
    box-shadow: 0px 0px 0px 1px #E2E8F0 inset;
    display: flex;
padding: 4px 12px;
align-items: center;
gap: 8px;
}

.syllabus-status-box-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 8px;
}

.status-terminé .syllabus-status-box-dot {
    background-color: var(--green);
}

.status-en-cours .syllabus-status-box-dot {
    background-color: var(--orange);
}

.status-pas-commencé .syllabus-status-box-dot {
    background-color: var(--grey);
}



.status-text {
    font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 18px; /* 150% */
}
.status-terminé .status-text {
    color: var(--green);
}

.status-en-cours .status-text {
    color: var(--orange);
}

.status-pas-commencé .status-text {
    color: var(--grey);
}
.syllabus-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 70%;
}

.syllabus-title {
    color: #212936;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19.2px;
    /* 120% */
}

.syllabus-description {
    color: #64748B;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 21px;
    /* 150% */
}
.syllabus-icon {
    font-size: 18px;
    color: var(--grey);
}