.course-card {
    border: 1px solid #e0e0e0;
    padding: 15px;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    max-width: 400px;
    font-family: var(--inter);
    display: flex;
    flex-direction: column;
    align-self: stretch;
    justify-content: space-between;
    width: 32%;
}

.course-card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-3px);
}

.course-card-top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.course-card-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.course-difficulty {
    display: flex;
    padding: 4px 8px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
    background: #D9E8FF;
    border: 1.5px solid #BCD8FF;
    color: var(--blue);
    font-weight: 500;
    font-size: 11px;
    font-family: var(--inter);

}

.course-title {
    font-size: 16px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 8px;
}

.course-description {
    font-size: 13px;
    color: #555;
    margin-bottom: 16px;
}

.course-author {
    display: flex;
    align-items: center;
}

.author-photo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}
.course-author-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0px;
}
.course-author-infos-top {
    display: flex;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.author-name {
    color: var(--black);
    font-family: var(--inter);
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 153.846% */
}

.author-company {
    display: flex;
    align-items: center;
    gap: 8px;
}

.company-logo {
    height: 20px;
    width: auto;
}

.author-position {
    color: var(--grey);
    font-family: var(--inter);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
}

.course-tool-logo {
    width: 24px;
    height: auto;
}

.course-tools {
    display: flex;
    align-items: center;
    gap: 5px;
}

.course-card-content-course {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.course-card-top-row-box {
    display: flex;
    align-items: center;
    gap: 10px;
}
.course-trial {
    border-radius: 6px;
    background: #D2F9E7;
    box-shadow: 0px 0px 0px 1px #A9F1D4 inset;
    display: flex;
padding: 4px 8px;
flex-direction: column;
align-items: flex-start;
color: var(--green);
font-family: var(--inter);
font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 18px; /* 150% */
}
.catalog-trial {
    display: none;
}
